<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.LeaveMapper">

    <resultMap id="BaseResultMap" type="com.panda.model.entity.Leave">
            <id property="leaveId" column="leaveId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="leaveReason" column="leaveReason" jdbcType="VARCHAR"/>
            <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="leaveDays" column="leaveDays" jdbcType="VARCHAR"/>
            <result property="leaveType" column="leaveType" jdbcType="TINYINT"/>
            <result property="leaveState" column="leaveState" jdbcType="TINYINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        leaveId,userId,leaveReason,
        startTime,endTime,leaveDays,
        leaveType,leaveState,create_time
    </sql>
</mapper>
